<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->

    <!-- build:css({app,.tmp}) /css/main.css -->
    <link rel="stylesheet" href="/_bower_components/normalize-css/normalize.css">
    <link rel="stylesheet" href="/_bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <!-- endbuild -->
    <link href='http://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>

    <!-- build:js(app) /js/head-scripts.js -->
    <!-- Replace with a custom modernizer build for production -->
    <script src="/_bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->

  </head>
  <body>
    <!--[if lt IE 8]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <section id="bio">
      <div class="bio">
        <div class="container">
          <header class="row">
            <h1>UI/UX Designer</h1>
            <h2>Kelsea Everett</h2>
          </header>
          <article class="row">
            <p>Born in Arizona, raised in Texas, currently in California working at CrossFit HQ.  As the lead in-house designer, I often play where many hats: wireframing work flows, mocking up user interfaces, developing brand identity, fixing printers, ect. I enjoy problem solving and see business constraints as an avenue for creativity, not a form of restriction. </p>
            <a class="btn btn-white" id="viewWork" href="#work">View Work</a>
          </article>
        </div>
      </div>
      <div class="menu-button-wrapper">
        <a href="#" id="menuButton"><img src="/img/hamburger.png"/></a>
      </div>
    </section>
    <section id="work" class="carousel slide">
      <div class="work-type-selector">
        <div class="menu-button-wrapper">
          <a href="#" id="menuButton"><img src="/img/hamburger.png"/></a>
        </div>
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-primary active" id="web">
            <input type="radio" name="options" checked> Web
          </label>
          <label class="btn btn-primary" id="mobile">
            <input type="radio" name="options"> Mobile
          </label>
          <label class="btn btn-primary" id="print">
            <input type="radio" name="options"> Print
          </label>
        </div>
        <div class="back-to-top-wrapper">
          <a href="#" id="backToTop"><img src="/img/uparrow.png"/></a>
        </div>
      </div>

      {{content}}

        <!-- Controls -->
        <a class="hidden-xs left carousel-control" href="#work" role="button" data-slide="prev">
          <img src="/img/arrow-left.png" alt="previous" title="previous"/>
        </a>
        <a class="hidden-xs right carousel-control" href="#work" role="button" data-slide="next">
          <img src="/img/arrow-right.png" alt="next" title="next"/>
        </a>
      </div>
    </section>
    {% include scripts.html %}
    {% include googleanalytics.html %}

  </body>
</html>
